
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="row">
        <div class="form-row-padding">
            @*this is where the item not found will go*@
            item 1234 Not Found
        </div>
        <div>
            <button class="button-spacing" id="addItem" data-target="#addItemModal" data-toggle="modal">
                Add Item?
            </button>
        </div>
        <div>
            <partial name="_CancelButton" />
        </div>
    </div>