<div>
    <p>
        Scan each item at this location.<br />
        <br />
        A laser scanner can be used to perform the inventory but it <br />
        must be configured to add a carriage return at the end of <br />
        the scan
    </p>
</div>
