
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div>
        <p>
            Enter search criteria to display a list of <br />
            matching inventory items. <br />
            <br />
            Keyword Search will return items containing <br />
            the keywords in any field
        </p>
    </div>
    